html, body, canvas, div {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
canvas, div {
    display: none;
}
div div, div canvas, canvas div, canvas canvas, canvas.active, div.active {
    display: block;
}
.scroll {
    overflow-y: scroll;
}
.scroll, .scroll body, .scroll canvas, .scroll div {
    height: auto;
}
